/* General */

html{
	font-family: 'Exo', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    background-color: #446CB3;
    border: 20px solid #013243;
    padding-top: 18vh;
  }

main {
  flex: 1 0 auto;
}

.btn{
	background-color: #465BA9 !important;
}

.btn:hover{
	color: #465BA9;
    background-color: white !important;
}

 #form_container{
 	background-color: #013243;
    height: 60vh;
 }

 .login_padding{
 	padding-top: 1vh;
 }

 label{
 	font-size: 2.5vh !important;
 }

 input#Username{
    font-size: 1.5vh !important;
 }

 @media screen and (max-device-width: 450px) {
    label { 
        font-size: 1.5em !important;
    }
}