html{
	font-family: 'Exo', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    background-color: #446CB3;
  }

 main {
   flex: 1 0 auto;
 }

 nav{
	background-color: #DB0A5B !important;
}

.page-footer{
	background-color: #81CFE0 !important;
}

.row{
	margin-bottom: 0px !important;
	padding-bottom: 20px;
}

.no_padding{
	padding: 0px !important;
}

.shadow_img{
	box-shadow: 5px 5px 20px black;
}

.background_section{
	padding-top: 10vh;
	position:  relative;
	z-index: -1;
}

.collapsible{
	color: black;
}

.bold{
	font-weight: bold;
}

.btn, .btn-large{
	background-color: #BC9F77 !important;

}

.btn:hover{
	background-color: white !important;
	color: #BC9F77;
}

.btn-floating{
	box-shadow: 5px 5px 10px black;
}

.border{
	height: 15px;
}

.shadow-top{
	box-shadow: 0px -5px 20px black;
}

.shadow-bottom{
	box-shadow: 0px 5px 20px black;
}

.border-dark{
	background-color: #5B0426;
	height: 15px;
}

.account{
	margin-top: 1.6%;
}

#par1{
	height: 350px;
}

#par2 {
    height: 850px;
}

.section{
	margin-top: 2%;
}

.light-1{
	background-color: #1E8BC3 !important;
}

.light-2{
	background-color: #2574A9 !important;
}

.light-3{
	background-color: #446CB3 !important;
}

.dark-1{
	background-color : #1F3A93 !important;
}

.dark-2{
	background-color : #013243 !important;
}

.multiple-borders{
	box-shadow: 0px 0px 0px 7px #994465;
	padding: 14px !important;
	background-color: #994465;
	border: 12px solid white;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.effect:hover{
	opacity: 0.8;
}

.margin{
	margin-bottom: 20px !important;
}

.img-top{
	margin-top: 15px;
}

article{
	height: 400px;
}

@media screen and (max-device-width: 990px) {
	h3 { 
		font-size: 2.0em;
	}
}

@media screen and (max-device-width: 1450px) {
	.no_padding { 
		margin-left: 8.33% !important;
		margin-right: 0px !important;
	}
}