/* footer bottom */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:url('../images/background.jpeg');
  }

 main {
   flex: 1 0 auto;
 }


/*  background colors */

.btn{
	background-color: #4db6ac !important;
}

nav{
	background-color: #512da8 !important;
}

.page-footer{
	background-color: #4527a0 !important;
}

/* Structure */

#container_event{
	background-color: white;
	width: 90vh;
    padding-left: 6vh;
    padding-top: 5vh;
    padding-bottom: 13.5vh;
}

.month_container{
	padding-top: 0vh !important;
    /* background-color: white; */
    height: 52vh;
    padding-left: 35vh !important;
}

.month_block{
	background-color: white;
	height: 12vh;
	border : 1px solid black;
	width: 19vh !important;
}

.day_title{
	background-color: #512da8;
	color: white;
}

#preview_background{
	height: 79vh;
	width: 90vh;
	margin-right: 52%;
	margin-top: 2%;
	float: right;
	overflow-y: scroll
}

#preview_task{
	height: 79vh;
	width: 65vh;
    margin-left: 62%;
	margin-top: 2%;
}

.hourZone{
	height: 5vh;
	width: 88.3vh;
	background-color: white;
	border-top: 1px dashed black;
}

#task_title{
	width: 65vh;
	position: fixed;
}

.add_button{
	margin-left: 95vh;
    margin-top: -85px;
    width: 255px;
}

#hour_error{
    margin-top: -20px;
    color: red;
    font-size: 12px;
}

.separator{
	width: 83vh;
	height: 1px;
	background-color: grey;
}

.container_separator{
	margin-left: -3vh;
}