/* General */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:url('../images/background2.jpeg');
  }

 main {
   flex: 1 0 auto;
 }

 nav{
	background-color: #4279FF !important;
}

.page-footer{
	background-color: #4279FF !important;
	color: white !important;
}

.separator1{
	width: 83vh;
	height: 1px;
	background-color: grey;
}

.separator2{
	height: 1px;
	background-color: grey;
}

.container.black-text{
	color: white !important;
}

.btn{
	background-color: #CC7120 !important;
}

.btn:hover{
	color: black;
}

.hover-button:hover{
	color: black;
}

.title1{
	color: white;
    margin-left: 45vh;
}

.contain{
	margin-top: 10vh;
}

.back{
	width: 20vh;
	height: 20vh;
	color: #CC7120;
	position: fixed;
}

/* month view */

.month_container{
	padding-top: 0vh !important;
    /* background-color: white; */
    height: 52vh;
    padding-left: 35vh !important;
} 

.month_block{
	background-color: white;
	height: 12vh;
	border-right: 1px solid black;
	width: 19vh !important;
}

.month_block:hover{
	opacity: 0.7;
}

.day_title{
	background-color: #4279FF;
	color: white;
	width: 18.9vh;
    margin-left: -1.2vh;
}

.add_button{
	margin-left: 95vh;
    margin-top: -85px;
    width: 255px;
}

/* day view */

#container_event{
	background-color: white;
	width: 75vh;
    padding-left: 6vh;
    padding-top: 1vh;
    padding-bottom: 21.8vh;
}

#preview_background{
	height: 75vh;
    width: 90vh;
    margin-right: 48%;
    margin-top: 6%;
	float: right;
	overflow-y: scroll;
}

#preview_task{
	height: 79vh;
	width: 65vh;
    margin-left: 62%;
	margin-top: 2%;
}

.hourZone{
	height: 5vh;
	width: 88.3vh;
	background-color: white;
	border-top: 1px dashed #ccc;
	margin-top: -1px;
	color: #ccc;
}

#task_title{
	width: 65vh;
	position: fixed;
}

.coll-body{
	background-color: #716599;
	color: white;
}

#preview_background::-webkit-scrollbar {
    width: 1em;
}
 
#preview_background::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}
 
#preview_background::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
	background-color: #CC7120;
}

.container_separator{
	margin-left: -6vh;
}

.menu_coll{
	margin-top: 2vh;
    margin-bottom: -1vh;
}

.desc_coll{
	margin-top: -1vh;
    margin-bottom: 3vh;
}

/* form event */

#hour_error{
    margin-top: -20px;
    color: red;
    font-size: 12px;
}