/* footer bottom */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 main {
   flex: 1 0 auto;
 }


/*  background colors */

.btn{
	background-color: #4db6ac !important;
}

nav{
	background-color: #512da8 !important;
}

.page-footer{
	background-color: #4527a0 !important;
}

/* Structure */

.month_container{
	padding-top: 8vh !important;
	background-color: #ede7f6;
    height: 65vh;
}

.month_block{
	background-color: white;
	height: 15vh;
	border : 1px solid black;
}

.day_title{
	background-color: #512da8;
	color: white;
}

#preview_background{
	height: 79vh;
	width: 90vh;
	margin-right: 52%;
	margin-top: 2%;
	float: right;
	overflow-y: scroll
}

#preview_task{
	height: 79vh;
	width: 65vh;
    margin-left: 62%;
	margin-top: 2%;
}

.hourZone{
	height: 5vh;
	width: 88.3vh;
	background-color: white;
	border-top: 1px dashed black;
}

#task_title{
	width: 65vh;
	position: fixed;
}