/* General */

html{
	font-family: 'Exo', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    background-color: #DB0A5B;
  }

 main {
   flex: 1 0 auto;
 }

 nav{
	background-color: #DB0A5B !important;
}

.page-footer{
	background-color: #DB0A5B !important;
	color: white !important;
}

.btn{
	background-color: #CC7120 !important;
}

.btn:hover{
	color: black;
}

.hover-button:hover{
	color: black;
}

#par1 {
          height: 355px;
}

#par2 {
          height: 850px;
}

.parallax-title{
	margin-top: 17vh;
    color: white;
    width: 58vh;
    margin-left: 2vh;
}

.effect:hover{
	opacity: 0.8;
}

.multiple-borders{
	box-shadow: 0px 0px 0px 7px #994465;
	padding: 14px !important;
	background-color: #994465;
	border: 12px solid white;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.bold{
	font-weight: bold;
}

.pop{
	font-size: 3vh;
}

.section{
	margin-top: 6vh;
}