/* General */

html{
	font-family: 'Exo', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    background-color: #2574A9;
    border: 20px solid #013243;
  }

 main {
   flex: 1 0 auto;
 }

 #container_404{
 	background-color: white;
 	height: 30vh;
 	width: 85vh;
 	color: black;
 	padding-top: 8vh;
 	margin-top: 28vh;
 	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
 }